	<section class="section dress">
		<div class="wrap dress__wrap">
		 	<div class="m-wrap dress__m-wrap">
				<div class="dress__top">
					<div class="dress__social">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/facebook.png alt="facebook" class="lazy" width="32" height="32">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/twitter.png alt="twitter" class="lazy" width="32" height="32">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/youtube.png alt="youtube" class="lazy" width="32" height="32">
						<p>ОФИЦИАЛЬНЫЙ САЙТ</p>
					</div>
					<div class="dress__titel">
						<h2>ТОЛЬКО ХИТЫ ПРОДАЖ! <br>ЗИМА 2016</h2>
					</div>
					<div class="dress__phone">
						<h4>ТЕЛЕФОН ПО РОССИИ БЕСПЛАТНЫЙ</h4>
						<span>8 825 356 412</span>
						<a href="#">ЗАКАЗАТЬ ЗВОНОК</a>
					</div>
				</div>
				<div class="dress__content">
					<div class="dress__block-title">
						<span></span>
						<h3>ТЕПЛЫЕ ПЛАТЬЯ</h3>
						<span></span>
					</div>
					<div class="dress__img">
						<div class="dress__list">
							<div class="dress__item">
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/dress/dress1.jpg alt="dress" class="lazy" width="217" height="326">
							</div>
							<div class="dress__hover">
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/dress/dress1.jpg alt="dress" class="lazy" width="217" height="326">
							</div>
						</div>
						<div class="dress__list">
							<div class="dress__item">
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/dress/dress2.jpg alt="dress" class="lazy" width="217" height="326">
							</div>
						</div>
						<div class="dress__list">
							<div class="dress__item">
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/dress/dress3.jpg alt="dress" class="lazy" width="217" height="326">
							</div>
						</div>
						<div class="dress__list">
							<div class="dress__item">
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/dress/dress4.jpg alt="dress" class="lazy" width="217" height="326">
							</div>
						</div>
						<div class="dress__list">
							<div class="dress__item">
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/dress/dress5.jpg alt="dress" class="lazy" width="217" height="326">
							</div>
						</div>
					</div>
				</div>
		 	</div>
		</div>
	</section>